@import "../global/responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap");

.fixed_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  background-color: #fafafa;
  z-index: 10000;

  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .header_contents {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    width: min(80rem, 100%);

    @include mqUp(lg) {
      // justify-content: left;
    }

    .icon_box {
      width: 4rem;
      height: 4rem;
      margin-left: 2rem;
      display: flex;

      a,
      > span {
        position: relative;
        display: block;
        width: 4rem;
        height: 4rem;

        img {
          width: 4rem;
          height: 4rem;
        }

        p {
          font-family: "Klee One";
          position: absolute;
          left: 4.2rem;
          top: 0.85rem;
          font-size: 1.15rem;
          line-height: 1;
          font-weight: 600;
          // font-weight: bold;
          white-space: nowrap;
        }
      }
    }

    .hamburger_button {
      display: none;
      width: 3.5rem;
      height: 3.5rem;
      background-color: transparent;
      margin-right: 2rem;
      margin-top: 0.25rem;
      border-radius: 2rem;
      cursor: pointer;
      position: relative;
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;

      &:hover {
        background-color: rgb(230, 230, 230);
      }

      &:hover span:nth-child(1) {
        top: 1.25rem;
      }
      &:hover span:nth-child(3) {
        top: 2.15rem;
      }

      @include mqUp(lg) {
        display: block;
      }

      span {
        width: 1.75rem;
        height: 0.2rem;
        background-color: rgb(29, 29, 29);
        display: block;
        position: absolute;
        border-radius: 1rem;
        transition: all 0.2s;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
      }

      span:nth-child(1) {
        top: 1.1rem;
        left: 0.9rem;
      }

      span:nth-child(2) {
        top: 1.7rem;
        left: 0.9rem;
      }

      span:nth-child(3) {
        top: 2.3rem;
        left: 0.9rem;
      }
    }

    @include mqUp(lg) {
      .opening.link_box {
        height: 19rem;
        border-color: rgb(202, 202, 202);
      }

      .opening.hamburger_button {
        background-color: rgb(230, 230, 230);

        span:nth-child(1) {
          top: 1.75rem;
          transform: rotateZ(45deg);
          -webkit-transform: rotateZ(45deg);
          -moz-transform: rotateZ(45deg);
          -ms-transform: rotateZ(45deg);
          -o-transform: rotateZ(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          top: 1.75rem;
          transform: rotateZ(-45deg);
          -webkit-transform: rotateZ(-45deg);
          -moz-transform: rotateZ(-45deg);
          -ms-transform: rotateZ(-45deg);
          -o-transform: rotateZ(-45deg);
        }
      }
    }

    .link_box {
      margin-right: 2rem;

      @include mqUp(lg) {
        position: fixed;
        top: 4rem;
        height: 0;
        overflow: hidden;
        background-color: rgb(250, 250, 250, 0.8);
        backdrop-filter: blur(0.75rem);
        z-index: 15000;
        width: 100%;
        border-style: solid;
        border-width: 0 0 0.1rem 0;
        border-color: transparent;
        transition: all 0.15s;
        -webkit-backdrop-filter: blur(0.75rem);
        -webkit-transition: all 0.15s;
        -moz-transition: all 0.15s;
        -ms-transition: all 0.15s;
        -o-transition: all 0.15s;
      }

      ul {
        padding: 0;
        margin: 1.1rem 0 0 0;
        font-size: 1.3rem;
        display: flex;
        position: relative;

        @include mqUp(lg) {
          display: block;
          margin: 1rem 0;
        }

        a::after {
          position: absolute;
          bottom: 0em;
          left: 0;
          content: "";
          width: 100%;
          height: 2px;
          background: rgb(146, 146, 146);
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform 0.3s;
        }

        a:focus {
          outline: none;
        }

        a:hover::after,
        a:focus::after {
          transform: scale(1, 1);
        }

        a {
          text-decoration: none;
          color: black;
          display: block;
          width: auto;
          margin-left: 1.3rem;
          margin-bottom: 0.5rem;
          position: relative;
          li {
            list-style: none;
            line-height: 1.5;
          }

          @include mqUp(lg) {
            margin-left: 1.3rem;
            padding-left: 0.5rem;
            margin-right: 1.3rem;
          }
        }

        p {
          text-decoration: none;
          color: black;
          display: block;
          width: auto;
          font-weight: bold;
          margin-left: 1.3rem;
          margin-bottom: 0.5rem;
          position: relative;
          li {
            list-style: none;
            line-height: 1.5;
          }

          @include mqUp(lg) {
            margin-left: 1.3rem;
            padding-left: 0.5rem;
            margin-right: 1.3rem;
          }
        }
      }
    }
  }
}
