@import "../global/responsive.scss";
@import "../global/variables.scss";

.search_area {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: center;
  user-select: none;

  .search_box_frame {
    width: auto;
    position: relative;
    display: flex;
    pointer-events: all;

    @include mqDown(xx) {
      width: 50%;
    }

    .search_input {
      background-color: $c-search_bg;
      height: 2.5rem;
      width: 10rem;
      position: relative;
      appearance: none;
      -webkit-appearance: none;
      border-style: solid;
      border-width: 0.1rem;
      border-color: $c-search_border transparent $c-search_border
        $c-search_border;
      border-radius: 2rem 0 0 2rem;
      padding: 0 2.5rem 0 1rem;
      transition: all 0.1s;
      opacity: 1;
      -webkit-border-radius: 2rem 0 0 2rem;
      -moz-border-radius: 2rem 0 0 2rem;
      -ms-border-radius: 2rem 0 0 2rem;
      -o-border-radius: 2rem 0 0 2rem;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -ms-transition: all 0.1s;
      -o-transition: all 0.1s;

      @include mqDown(xx) {
        width: 100%;
      }

      &:hover {
        border-color: $c-search_border_hover transparent $c-search_border_hover
          $c-search_border_hover;
      }

      &:active,
      &:focus {
        outline: none;
        border-color: $c-search_border_hover transparent $c-search_border_hover
          $c-search_border_hover;
      }
    }

    .search_clear_button {
      position: absolute;
      appearance: none;
      -webkit-appearance: none;
      right: 0;
      width: 2.5rem;
      height: 2.5rem;
      background-color: transparent;
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;

      @include mqDown(xx) {
        width: 20%;
      }

      &:hover,
      &:focus {
        outline: none;
      }

      svg {
        color: $c-search_clear;
      }

      &:hover svg,
      &:focus svg {
        color: $c-search_clear_hover;
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
      }
    }
  }

  .search_button {
    background-color: $c-search_button;
    border-style: solid;
    border-color: $c-search_button;
    border-width: 0.1rem;
    margin-right: 1rem;
    display: block;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 0 2rem 2rem 0;
    transition: all 0.1s;
    pointer-events: all;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-border-radius: 0 2rem 2rem 0;
    -moz-border-radius: 0 2rem 2rem 0;
    -ms-border-radius: 0 2rem 2rem 0;
    -o-border-radius: 0 2rem 2rem 0;

    @include mqDown(xx) {
      width: 15%;
      margin-right: 2.5%;
    }

    &:hover,
    &:focus {
      background-color: $c-search_button_hover;
      border-color: $c-search_button_hover;
      outline: none;
    }

    .search_magnify {
      position: relative;
      left: -0.1rem;
      top: 0.1rem;
      color: $c-search_magnify;
      width: 1.4rem;
      font-size: 1.4rem;
      padding: 0;
      margin: 0;
    }
  }

  .select_box {
    width: 6rem;
    height: 2.5rem;
    position: relative;
    pointer-events: all;

    @include mqUp(sm) {
      width: 25%;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-style: solid;
      border-width: 0 0 0.1rem 0.1rem;
      border-color: $c-search_type_dropdown;
      right: 0.75rem;
      top: 0.9rem;
      pointer-events: none;
      transform: rotateZ(-45deg);
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
    }

    &:hover::after,
    &:focus::after {
      border-color: $c-search_border_hover;
    }

    .search_select {
      border-style: solid;
      border-width: 0.1rem;
      border-color: $c-search_border;
      width: 100%;
      height: 100%;
      cursor: pointer;
      appearance: none;
      background-color: $c-search_bg;
      color: black;
      padding-left: 0.25rem;
      padding-right: 1.7rem;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      position: relative;
      &:hover {
        border-color: $c-search_border_hover;
      }

      &:active,
      &:focus {
        outline: none;
        border-color: $c-search_border_hover;
      }

      &::-ms-expand {
        display: none;
      }
    }
  }
}
