@import "../global/responsive.scss";
@import "../global/variables.scss";

.title_box {
  margin: 0 auto;

  .title_area {
    width: min(55rem, 100%);
    margin: 0 auto;

    .page_title {
      font-size: 2rem;
      font-weight: bold;
      padding: 1.5rem 3rem;
      color: $c-base_title_text;
      margin: 0 auto;
      justify-content: space-between;
      display: flex;

      span {
        display: inline-block;
      }

      a:hover svg {
        color: #e0e0e0;
      }
    }
  }
}