$c-base_tile: #fafafa;
$c-base_tile_hover: #e6e6e6;
$c-base_texture_black: #1d1d1d;
$c-base_title_text: #fdfdfd;
$c-base_link_text: #1515d4;
$c-base_section_bar_from: #56e7c3;
$c-base_section_bar_to: #80acff;
$c-base_section_bg_from: #fff;
$c-base_section_bg_to: #f5ffff;

$c-header_hover_line: #929292;
$c-detail_thumbnail_box: #f5f5f5;
$c-detail_image_box: #fcfcfc;

$c-lang_sw_bg_from: #74ece6;
$c-lang_sw_bg_to: #c3fdf5;
$c-lang_sw_border: #7bdddd;
$c-lang_sw_shadow: #e6e6e6;

$c-sort_year_bg_from: #a5f3f3;
$c-sort_year_bg_to: #d0f8f8;
$c-sort_year_shadow: #e4e4e4;

$c-search_box_sw_bg: #f0f0f0;
$c-search_box_sw_bg_hover: #e7e7e7;

$c-search_bg: #fff;
$c-search_border: #dcdcdc;
$c-search_border_hover: #23bebe;
$c-search_clear: #aaa;
$c-search_clear_hover: #333;
$c-search_button: #23bebe;
$c-search_button_hover: #22a1a1;
$c-search_magnify: #fff;
$c-search_type_dropdown: #000;

$c-scroll_top: #c8f7f3;
$c-scroll_top_border: #bbebe7;
$c-scroll_top_shadow: #e4e4e4;
$c-scroll_top_arrow: #000;

$c-y_list_bg: #eca31a;
$c-y_list_bg_hover: #da9414;
$c-y_list_shadow: #c8c8c8;

$c-y_list_p: #f0f0f0;
$c-y_list_p_hover: #bbbbbb;
$c-y_list_p_hover_r: #d85f5f;
$c-y_list_p_hover_g: #6ab86a;
$c-y_list_p_hover_b: #7979c5;
$c-y_list_p_shadow: #cccccc;
$c-y_list_menu_bg: #fafafa;
$c-y_list_menu_shadow: #c8c8c8;
$c-y_list_menu_close: #e0e0e0;
$c-y_list_menu_close_hover: #d4d4d4;
$c-y_list_index_hover: #ececec;