@import '../../global/responsive.scss';
@import '../../global/variables.scss';

.main {
  padding-top: 0;
  min-height: calc(100% - 6rem);
  position: relative;

  .search_condition {
    position: sticky;
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 2rem;
    width: calc(100% - 4rem);
    bottom: 1rem;
    z-index: 1500;
    padding: 0.2rem 0.5rem;
    background-color: #f3edb3;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1.05rem;
    filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -webkit-filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);

    @include mqUp(sm) {
      width: 100%;
      border-radius: 0;
      margin-top: 0;
      margin-bottom: 0;
      bottom: 0;
      filter: none;
    }
  }

  .list_box {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 2rem 0;
    user-select: none;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    position: relative;

    @include mqUp(xl) {
      padding: 0;
    }

    @include mqUp(sm) {
      width: 100%;
      padding-top: 0;
    }

    .search_box {
      width: 100%;
      height: 0;
      padding: 1rem 1rem 2rem 1rem;
      background-color: $c-base_tile;
      margin-bottom: 3rem;
      position: sticky;
      top: -1rem;
      z-index: 1000;
      transition: all 0.2s;

      @include mqUp(sm) {
        margin-bottom: 2rem;
      }

      &.open {
        height: auto;
      }

      .circle {
        cursor: pointer;
        display: block;
        background-color: $c-search_box_sw_bg;
        width: 5rem;
        height: 3rem;
        position: absolute;
        left: calc((100% - 5rem) / 2);
        border-radius: 0.5rem 0.5rem 3rem 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 10000;
        user-select: none;
        -webkit-border-radius: 0.5rem 0.5rem 3rem 3rem;
        -moz-border-radius: 0.5rem 0.5rem 3rem 3rem;
        -ms-border-radius: 0.5rem 0.5rem 3rem 3rem;
        -o-border-radius: 0.5rem 0.5rem 3rem 3rem;

        svg {
          width: 1.6rem;
          font-size: 1.6rem;
        }

        &:hover,
        &:active {
          background-color: $c-search_box_sw_bg_hover;
        }
      }

      .years_list_box {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0rem;
        background-image: linear-gradient(to bottom right, $c-sort_year_bg_from, $c-sort_year_bg_to);
        z-index: 15000;
        padding: 1rem;
        justify-content: left;
        align-items: normal;
        display: none;
        flex-direction: column;
        user-select: none;

        @include mqUp(lg) {
          padding: 0;
          height: 3rem;
          width: 7rem;
          left: 1rem;
          top: initial;
          bottom: -5rem;
          border-radius: 0.25rem;
          padding: 0;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          background-color: #fafafa;
          border-style: solid;
          border-width: 0.11rem;
          border-color: $c-sort_year_shadow;
          filter: drop-shadow(0.1rem 0.1rem 0.2rem $c-sort_year_shadow);
          -webkit-filter: drop-shadow(0.1rem 0.1rem 0.2rem $c-sort_year_shadow);
        }

        & > p {
          font-size: 1.1rem;
          text-align: left;
          font-weight: bold;
          user-select: none;

          @include mqUp(lg) {
            display: none;
          }
        }

        .select_box {
          width: 6rem;
          height: 2rem;
          position: relative;
          pointer-events: all;

          @include mqUp(lg) {
            width: 5.5rem;
          }

          &::after {
            position: absolute;
            content: '';
            width: 0.5rem;
            height: 0.5rem;
            border-style: solid;
            border-width: 0 0 0.1rem 0.1rem;
            border-color: $c-search_type_dropdown;
            right: 0.75rem;
            top: 0.6rem;
            pointer-events: none;
            transform: rotateZ(-45deg);
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
          }

          &:hover::after,
          &:focus::after {
            border-color: $c-search_border_hover;
          }

          .year_select {
            display: block;
            border-style: solid;
            border-width: 0.1rem;
            border-color: $c-search_border;
            width: 100%;
            height: 100%;
            cursor: pointer;
            appearance: none;
            background-color: $c-search_bg;
            color: black;
            padding-left: 0.25rem;
            padding-right: 1.7rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            position: relative;

            &:hover {
              border-color: $c-search_border_hover;
            }

            &:active,
            &:focus {
              outline: none;
              border-color: $c-search_border_hover;
            }
          }
        }
      }

      .search_area {
        width: min(55rem, 100%);
        margin: 0 auto;
        display: none;
        flex-wrap: wrap;
        row-gap: 1rem;
        justify-content: center;
        user-select: none;

        .search_box_frame {
          width: auto;
          position: relative;
          display: flex;
          margin-left: 1rem;

          @include mqUp(sm) {
            width: 50%;
          }

          .search_input {
            background-color: $c-search_bg;
            height: 2.5rem;
            width: 12.5rem;
            position: relative;
            appearance: none;
            -webkit-appearance: none;
            border-style: solid;
            border-width: 0.1rem;
            border-color: $c-search_border transparent $c-search_border $c-search_border;
            border-radius: 2rem 0 0 2rem;
            padding: 0 2.5rem 0 1rem;
            transition: all 0.1s;
            opacity: 1;
            -webkit-border-radius: 2rem 0 0 2rem;
            -moz-border-radius: 2rem 0 0 2rem;
            -ms-border-radius: 2rem 0 0 2rem;
            -o-border-radius: 2rem 0 0 2rem;
            -webkit-transition: all 0.1s;
            -moz-transition: all 0.1s;
            -ms-transition: all 0.1s;
            -o-transition: all 0.1s;

            @include mqUp(sm) {
              width: 100%;
            }

            &:hover {
              border-color: $c-search_border_hover transparent $c-search_border_hover $c-search_border_hover;
            }

            &:active,
            &:focus {
              outline: none;
              border-color: $c-search_border_hover transparent $c-search_border_hover $c-search_border_hover;
            }
          }

          .search_clear_button {
            position: absolute;
            appearance: none;
            -webkit-appearance: none;
            right: 0;
            width: 2.5rem;
            height: 2.5rem;
            background-color: transparent;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;

            @include mqUp(sm) {
              width: 20%;
            }

            &:hover,
            &:focus {
              outline: none;
            }

            svg {
              color: $c-search_clear;
            }

            &:hover svg,
            &:focus svg {
              color: $c-search_clear_hover;
              width: 1rem;
              height: 1rem;
              font-size: 1rem;
            }
          }
        }

        .search_button {
          background-color: $c-search_button;
          border-style: solid;
          border-color: $c-search_button;
          border-width: 0.1rem;
          display: block;
          cursor: pointer;
          width: 3.5rem;
          height: 2.5rem;
          justify-content: center;
          align-items: center;
          text-align: center;
          display: flex;
          flex-direction: column;
          border-radius: 0 2rem 2rem 0;
          transition: all 0.1s;
          -webkit-border-radius: 0 2rem 2rem 0;
          -moz-border-radius: 0 2rem 2rem 0;
          -ms-border-radius: 0 2rem 2rem 0;
          -o-border-radius: 0 2rem 2rem 0;

          @include mqUp(sm) {
            width: 15%;
            margin-right: 2.5%;
          }

          &:hover,
          &:focus {
            background-color: $c-search_button_hover;
            border-color: $c-search_button_hover;
            outline: none;
          }

          .search_magnify {
            position: relative;
            left: -0.1rem;
            top: 0.1rem;
            color: $c-search_magnify;
            width: 1.4rem;
            font-size: 1.4rem;
            padding: 0;
            margin: 0;
          }
        }

        .select_box {
          width: 6rem;
          height: 2.5rem;
          position: relative;

          @include mqUp(sm) {
            width: 25%;
          }

          &::after {
            position: absolute;
            content: '';
            width: 0.5rem;
            height: 0.5rem;
            border-style: solid;
            border-width: 0 0 0.1rem 0.1rem;
            border-color: $c-search_type_dropdown;
            right: 0.75rem;
            top: 0.9rem;
            pointer-events: none;
            transform: rotateZ(-45deg);
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
          }

          &:hover::after,
          &:focus::after {
            border-color: $c-search_border_hover;
          }

          .search_select {
            border-style: solid;
            border-width: 0.1rem;
            border-color: $c-search_border;
            width: 100%;
            height: 100%;
            cursor: pointer;
            appearance: none;
            background-color: $c-search_bg;
            color: black;
            padding-left: 0.25rem;
            padding-right: 1.7rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            position: relative;

            &:hover {
              border-color: $c-search_border_hover;
            }

            &:active,
            &:focus {
              outline: none;
              border-color: $c-search_border_hover;
            }

            &::-ms-expand {
              display: none;
            }
          }
        }
      }

      &.opening {
        height: auto;
        top: 0;

        @include mqUp(sm) {
          margin-bottom: 2rem;
        }

        .search_area {
          display: flex;
        }

        .years_list_box {
          display: flex;
        }

        .circle {
          bottom: -1.5rem;
          transform: rotateZ(180deg);
          border-radius: 0.5rem;
          -webkit-transform: rotateZ(180deg);
          -moz-transform: rotateZ(180deg);
          -ms-transform: rotateZ(180deg);
          -o-transform: rotateZ(180deg);
          -webkit-border-radius: 0.5rem;
          -moz-border-radius: 0.5rem;
          -ms-border-radius: 0.5rem;
          -o-border-radius: 0.5rem;
        }
      }
    }

    .result_box {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: min(55rem, 90%);
      margin: 0 auto;
      justify-content: center;
      flex-direction: column;
      align-items: stretch;
      row-gap: 2rem;
      column-gap: 2rem;
      margin-top: 2.5rem;
      padding-bottom: 2rem;
      pointer-events: all;

      @include mqDown(lg) {
        width: 90%;
      }

      @include mqUp(sm) {
        width: 100%;
        row-gap: 0;
        padding-bottom: 0;
        margin-top: 6rem;
      }

      &:not(.opening) {
        @include mqUp(sm) {
          margin-top: 3rem;
        }
      }

      .year_bar {
        width: 100%;
        text-align: center;
        padding-block: 0.7rem;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 0.15rem;
        background-image: linear-gradient(to bottom right, #e9fffc, #d3f1f7);

        @include mqUp(sm) {
          border-radius: 0;
        }
      }

      section {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: left;
        flex-direction: row;
        row-gap: 2rem;
        column-gap: 2rem;
        padding-inline: 3rem;

        @include mqUp(lg) {
          justify-content: center;
        }

        @include mqUp(sm) {
          row-gap: 0;
          padding-inline: 0;
        }
      }

      .project_link {
        pointer-events: none;
        width: 23rem;
        height: 23rem;
        display: inline-block;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;

        @include mqUp(sm) {
          width: 100%;
          height: auto;
        }

        .project {
          pointer-events: auto;
          width: 23rem;
          height: 23rem;
          background-color: #fdfdfd;
          position: relative;
          border-radius: 0.25rem;
          overflow: hidden;
          filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);
          transition: all 0.15s;
          justify-content: initial;
          align-items: initial;
          text-align: initial;
          display: initial;
          flex-direction: initial;
          -webkit-border-radius: 0.25rem;
          -moz-border-radius: 0.25rem;
          -ms-border-radius: 0.25rem;
          -o-border-radius: 0.25rem;
          -webkit-filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);
          -webkit-transition: all 0.15s;
          -moz-transition: all 0.15s;
          -ms-transition: all 0.15s;
          -o-transition: all 0.15s;

          &.border {
            border-style: solid;
            border-width: 0.05rem;
            border-color: #eaeaea;
          }

          &.group {
            user-select: none;

            &.open {
              background-color: #f5f5f5;
            }
          }

          &.in_group {
            border-style: solid;
            border-color: #0baf8e;
            border-width: 0.05rem;

            @include mqUp(sm) {
              border-style: none;
              border-width: 0;
              border-color: transparent;
            }
          }

          @include mqUp(sm) {
            margin: 0;
            width: 100%;
            height: auto;
            filter: none;
            border-radius: 0;
            border-style: none;
            border-width: 0;
            border-color: transparent;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            -webkit-filter: none;
          }

          &::after {
            position: absolute;
            content: '';
            width: 23rem;
            height: 12.97rem;
            border-radius: 0.25rem;
            top: 0;
            left: 0;
            background-color: #ffffff4d;
            opacity: 0;
            transition: all 0.15s;
            -webkit-transition: all 0.15s;
            -moz-transition: all 0.15s;
            -ms-transition: all 0.15s;
            -o-transition: all 0.15s;
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            -ms-border-radius: 0.25rem;
            -o-border-radius: 0.25rem;

            @include mqUp(sm) {
              width: 100%;
              height: calc(100vw * 9 / 16 - 1rem);
            }
          }

          &:hover {
            filter: drop-shadow(0.1rem 0.1rem 0.5rem #e4e4e4);
            -webkit-filter: drop-shadow(0.1rem 0.1rem 0.5rem #e4e4e4);

            @include mqUp(sm) {
              filter: none;
              -webkit-filter: none;
            }
          }

          &:hover::after {
            opacity: 1;

            @include mqUp(md) {
              opacity: 0;
            }
          }

          .thumbnail_box {
            width: 23rem;
            height: 12.93rem;
            background-image: linear-gradient(to bottom right, #fffbf6, #fdfdfd);
            position: relative;
            overflow: hidden;
            user-select: none;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            @include mqUp(sm) {
              margin: 0;
              width: 100%;
              height: calc(100vw * 9 / 16 - 1rem);
              filter: none;
              -webkit-filter: none;
            }

            .thumbnail {
              width: 100%;
            }
          }

          .type {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            margin-bottom: 0.5rem;

            span {
              font-size: 0.9rem;
              display: inline-block;
              background-color: #7a7a7a;
              padding: 0.1rem 0.4rem;
              line-height: 1.2;
              border-radius: 0.5rem;
              color: #fdfdfd;
              border-style: solid;
              border-color: #fdfdfd;
              border-width: 0.1rem;
              -webkit-border-radius: 0.5rem;
              -moz-border-radius: 0.5rem;
              -ms-border-radius: 0.5rem;
              -o-border-radius: 0.5rem;
            }
          }

          .date {
            position: absolute;
            top: 11rem;
            right: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
            display: inline-block;
            background-color: #e6e6e6;
            padding: 0.1rem 0.4rem;
            line-height: 1.2;
            border-radius: 0.5rem;
            color: #000000;
            border-style: solid;
            border-color: #fdfdfd;
            border-width: 0.1rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;

            @include mqUp(sm) {
              top: calc(100vw * 9 / 16 - 3rem);
            }
          }

          .description_area {
            height: 10.07rem;
            overflow-y: auto;

            .title {
              margin: 0.4rem 0.4rem 0.1rem 0.4rem;
              font-size: 1.05rem;
              font-weight: bold;
              line-height: 1.15;
            }

            .authors {
              margin: 0 0.4rem;
              font-size: 0.8rem;

              .author {
                display: inline-block;
                margin-right: 0.3rem;
                margin-bottom: 0;
                background-color: #f4fdff;
                border-radius: 0.3rem;
                padding: 0.05rem 0.2rem;
                line-height: 1.2;
                font-size: 0.8rem;
                -webkit-border-radius: 0.3rem;
                -moz-border-radius: 0.3rem;
                -ms-border-radius: 0.3rem;
                -o-border-radius: 0.3rem;

                div {
                  display: inline-block;
                  border-right: 1rem;
                  width: 0.8rem;
                  font-size: 0.8rem;
                }

                p {
                  margin-left: 0.2rem;
                  margin-right: 0.2rem;
                  display: inline-block;
                }
              }
            }

            .tags {
              font-size: 0.8rem;
              margin: 0.2rem 0.5rem 0.2rem 0.7rem;

              span {
                display: inline-block;
                margin-right: 0.5rem;
                position: relative;

                svg {
                  width: 0.8rem;
                  height: 0.8rem;
                  font-size: 0.8rem;
                  display: inline-block;
                  margin-right: 0.15rem;
                  position: relative;
                  top: 0.07rem;
                }
              }
            }

            .book {
              font-size: 0.7rem;
              margin: 0.1rem 0.4rem 0.1rem 0.5rem;

              div {
                display: inline;
                border-right: 1rem;
                width: 0.8rem;
                font-size: 0.8rem;
              }

              p {
                margin-left: 0.4rem;
                margin-right: 0.2rem;
                display: inline;
              }
            }

            .comment {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1.5rem;
              line-height: 1;
              background-color: #f5f5f5;
              font-size: 1.05rem;
              text-align: center;
              margin-top: 0.4rem;
              user-select: none;

              p {
                line-height: 1;
              }

              .icon_box {
                display: inline-block;
                width: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
