@import "../../global/responsive.scss";

.main {
  min-height: calc(100% - 6rem);
  padding-top: 0;
  position: relative;

  .project {
    width: 100%;
    padding-top: 2rem;
    position: relative;
    user-select: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;

    @include mqUp(md) {
      padding-top: 0;
    }

    .project_card {
      margin-top: 0;
      margin-bottom: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      width: min(55rem, 100%);
      padding: 2rem;
      color: rgb(30, 30, 30);
      background-image: linear-gradient(
        to bottom right,
        rgb(182, 252, 234),
        rgb(253, 245, 171)
      );
      border-radius: 1rem;
      position: relative;
      filter: drop-shadow(0.5rem 0.3rem 0.5rem rgb(230, 230, 230));
      -webkit-filter: drop-shadow(0.5rem 0.3rem 0.5rem rgb(230, 230, 230));
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;

      @include mqUp(md) {
        border-radius: 0;
        margin-top: 0rem;
        filter: drop-shadow(0rem 0.2rem 0.2rem rgb(230, 230, 230));
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        -webkit-filter: drop-shadow(0rem 0.2rem 0.2rem rgb(230, 230, 230));
      }

      .type {
        margin-bottom: 0.5rem;
        span {
          display: inline-block;
          background-color: rgb(240, 57, 118);
          padding: 0.2rem 0.4rem;
          border-radius: 0.5rem;
          color: rgb(248, 248, 248);
          -webkit-border-radius: 0.5rem;
          -moz-border-radius: 0.5rem;
          -ms-border-radius: 0.5rem;
          -o-border-radius: 0.5rem;
        }
      }

      .title {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.65rem;
        margin-bottom: 1rem;
      }

      .authors {
        font-size: 1.1rem;

        .author {
          display: inline-block;
          margin-right: 0.3rem;
          margin-bottom: 0.35rem;
          background-color: rgba(255, 255, 255, 0.39);
          border-radius: 0.3rem;
          padding: 0.05rem 0.2rem;
          -webkit-border-radius: 0.3rem;
          -moz-border-radius: 0.3rem;
          -ms-border-radius: 0.3rem;
          -o-border-radius: 0.3rem;
        }
      }

      .tags {
        font-size: 1.1rem;
        margin: 0.7rem 0.5rem 1.2rem 0;

        span {
          display: inline-block;
          margin-right: 0.5rem;
          position: relative;

          svg {
            width: 1.1rem;
            height: 1.1rem;
            font-size: 1.1rem;
            display: inline-block;
            margin-right: 0.15rem;
            position: relative;
            top: 0.07rem;
          }
        }
      }

      .links {
        display: flex;
        width: 100%;
        justify-content: right;
        position: absolute;
        left: 0;
        bottom: -1.5rem;
        column-gap: 1rem;
        padding-right: 1rem;

        .url_box_link {
          position: relative;
          user-select: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          pointer-events: none;

          .url_box {
            position: relative;
            pointer-events: all;
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 10rem;
            border-style: solid;
            border-width: 0.2rem;
            border-color: rgb(252, 252, 252);
            background-color: #e28e20;
            -webkit-border-radius: 10rem;
            -moz-border-radius: 10rem;
            -ms-border-radius: 10rem;
            -o-border-radius: 10rem;
          }
        }

        .pdf_box_link {
          user-select: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          pointer-events: none;

          .pdf_box {
            position: relative;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            pointer-events: all;
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 10rem;
            border-style: solid;
            border-width: 0.2rem;
            border-color: rgb(252, 252, 252);
            background-color: rgb(226, 45, 32);
            -webkit-border-radius: 10rem;
            -moz-border-radius: 10rem;
            -ms-border-radius: 10rem;
            -o-border-radius: 10rem;
          }
        }
      }
    }

    .main_script {
      width: min(55rem, 100%);
      margin: 0 auto;
      padding: 2rem 1.5rem;
      font-size: 1.05rem;
      line-height: 1.65;

      @include mqUp(md) {
        padding: 2rem 0 0 0;
      }

      .section_name {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.8;
        top: 0;
        position: sticky;
        z-index: 1000;
        padding-left: 1rem;
        border-radius: 0 0 0.5rem 0.5rem;
        background-image: linear-gradient(to right, white, rgb(245, 255, 255));
        -webkit-border-radius: 0 0 0.5rem 0.5rem;
        -moz-border-radius: 0 0 0.5rem 0.5rem;
        -ms-border-radius: 0 0 0.5rem 0.5rem;
        -o-border-radius: 0 0 0.5rem 0.5rem;

        &::before {
          display: inline-block;
          width: 0.5rem;
          height: 2rem;
          position: absolute;
          bottom: 0.25rem;
          left: 0.15rem;
          content: "";
          background-image: linear-gradient(
            to bottom right,
            rgb(86, 231, 195),
            rgb(128, 172, 255)
          );
        }
      }

      .thumbnail_box {
        padding: 1rem;
        width: 90%;
        margin: 0 auto;
        background-color: rgb(245, 245, 245);
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;

        @include mqUp(md) {
          padding: 0;
        }
      }

      .abstract {
        padding: 0.4rem 0.8rem;
      }

      .slide_box {
        width: 100%;
        margin: 1rem 0;
        padding: 0 0.5rem;

        iframe {
          margin: 0 auto;
          width: calc(100% - 2rem);
        }

        h1 {
          font-weight: bold;
          font-size: 1.6rem;
        }

        h2 {
          font-weight: bold;
          font-size: 1.3rem;
        }

        h3,
        h4,
        h5,
        h6 {
          font-weight: bold;
        }

        a {
          color: blue;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        ul {
          margin-left: 2rem;
          li {
            list-style: disc;
          }
        }

        ol {
          margin-left: 2rem;
          li {
            list-style: decimal;
          }
        }
      }

      .images_box {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;

        a {
          pointer-events: none;
          position: relative;

          .image {
            pointer-events: auto;
            overflow: hidden;
            min-width: 10rem;
            max-width: 20rem;
            max-height: 100vw;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 0.75rem;
            background-color: rgb(252, 252, 252);
          }
        }

        a::after {
          display: none;
        }
      }

      .book_card {
        margin-top: 1rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 2rem;
        color: #1e1e1e;
        background-image: linear-gradient(
          to bottom right,
          rgb(250, 237, 194),
          rgb(255, 234, 250)
        );
        border-radius: 1rem;
        filter: drop-shadow(0.5rem 0.3rem 0.5rem rgb(230, 230, 230));
        -webkit-filter: drop-shadow(0.5rem 0.3rem 0.5rem rgb(230, 230, 230));
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;

        @include mqUp(md) {
          border-radius: 0;
          margin-bottom: 0;
          margin-top: 0;
          filter: none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
        }

        .information_section_title {
          font-weight: bold;
        }

        .flex_box {
          display: flex;
          justify-content: space-between;

          & > div {
            display: block;
            width: 50%;
            text-align: left;
          }
        }

        .copy_icon {
          cursor: pointer;
        }
      }
    }
  }

  .r_sidebar {
    background-color: #fafafa;
    position: static;
    user-select: none;
    width: 100%;
    margin: 0 auto;
    pointer-events: none;

    @include mqDown(xx) {
      position: fixed;
      top: 4rem;
      width: calc((100% - min(55rem, 100%)) / 2 - 3rem);
      max-width: 35rem;
      height: calc(100% - 4rem);
      overflow: hidden;
    }

    .side_content_area {
      width: min(55rem, 100%);
      margin: 0 auto;
      padding: 1.2rem 1rem;
      position: relative;
      height: 100%;

      .section_title {
        font-size: 1.15rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
      }

      .r_projects {
        margin: 0;
        justify-content: center;
        flex-direction: row;
        position: relative;
        width: 100%;
        padding: 0;

        @include mqDown(xx) {
          overflow-y: auto;
          max-height: calc(100% - 12.5rem);
        }

        .r_project_link {
          pointer-events: none;

          .r_project {
            color: #222;
            pointer-events: all;
            width: 100%;
            position: relative;
            margin: 0.5rem 0 1rem 0;
            background-color: rgb(253, 253, 253);
            border-style: solid;
            border-width: 0.05rem 0.05rem 0.05rem 0;
            border-color: #e0e0e0;
            padding: 0.25rem 0.25rem 0.25rem 0.7rem;
            transition: all 0.15s;
            -webkit-transition: all 0.15s;
            -moz-transition: all 0.15s;
            -ms-transition: all 0.15s;
            -o-transition: all 0.15s;

            &::before {
              position: absolute;
              display: block;
              content: "";
              background-color: rgb(55, 77, 199);
              top: 0;
              left: 0;
              height: 100%;
              width: 0.4rem;
            }

            &:hover {
              border-color: rgb(55, 77, 199);
            }

            .title {
              margin: 0.4rem 0.4rem 0.1rem 0.4rem;
              font-size: 1.05rem;
              font-weight: bold;
              line-height: 1.15;
            }

            .authors {
              margin: 0 0.4rem;
              font-size: 0.8rem;

              .author {
                display: inline-block;
                margin-right: 0.3rem;
                margin-bottom: 0;
                background-color: rgb(244, 253, 255);
                border-radius: 0.3rem;
                padding: 0.05rem 0.2rem;
                line-height: 1.2;
                font-size: 0.8rem;
                -webkit-border-radius: 0.3rem;
                -moz-border-radius: 0.3rem;
                -ms-border-radius: 0.3rem;
                -o-border-radius: 0.3rem;

                div {
                  display: inline-block;
                  border-right: 1rem;
                  width: 0.8rem;
                  font-size: 0.8rem;
                }

                p {
                  margin-left: 0.2rem;
                  margin-right: 0.2rem;
                  display: inline-block;
                }
              }
            }

            .tags {
              font-size: 0.8rem;
              margin: 0.2rem 0.5rem 0.2rem 0.7rem;

              span {
                display: inline-block;
                margin-right: 0.5rem;
                position: relative;

                svg {
                  width: 0.8rem;
                  height: 0.8rem;
                  font-size: 0.8rem;
                  display: inline-block;
                  margin-right: 0.15rem;
                  position: relative;
                  top: 0.07rem;
                }
              }
            }

            .book {
              font-size: 0.7rem;
              margin: 0.1rem 0.4rem 0.1rem 0.5rem;

              div {
                display: inline;
                border-right: 1rem;
                width: 0.8rem;
                font-size: 0.8rem;
              }

              p {
                margin-left: 0.4rem;
                margin-right: 0.2rem;
                display: inline;
              }
            }
          }
        }
      }

      .see_more {
        font-size: 1.1rem;
        display: block;
        margin-top: 0.5rem;
        padding: 0.2rem 0.5rem;
        background-color: #fafafa;
        border-style: solid;
        border-width: 0 0 0.05rem 0;
        border-color: black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        pointer-events: all;

        @include mqDown(xx) {
          border-color: transparent;
        }

        &:hover,
        &:active {
          outline: none;
          border-color: #222;
        }
      }
    }
  }

  .l_sidebar {
    background-color: #fafafa;
    user-select: none;
    position: fixed;
    top: 4rem;
    left: 0;
    width: calc((100% - min(55rem, 100%)) / 2 - 3rem);
    max-width: 35rem;
    height: calc(100% - 4rem);
    overflow: hidden;
    display: none;
    z-index: 500;
    pointer-events: none;

    svg.polygon1 {
      position: absolute;
      width: 110%;
      left: -5rem;
      bottom: -0.2rem;
      z-index: 505;
      .svg_polygon_1 {
        fill: #ececec;
        stroke-width: 0px;
        transition: all 0.1s;
        pointer-events: fill;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;

        &:hover {
          fill: #bbbbbb;
          &:nth-child(3n + 1) {
            fill: rgb(216, 95, 95);
          }
          &:nth-child(3n + 2) {
            fill: rgb(106, 184, 106);
          }
          &:nth-child(3n) {
            fill: rgb(121, 121, 197);
          }
        }
      }
    }

    @include mqDown(xx) {
      display: block;
    }

    .side_content_area {
      width: min(55rem, 100%);
      margin: 0 auto;
      padding: 1.2rem 1rem;
      position: relative;
      height: 100%;
      z-index: 510;

      .section_title {
        font-size: 1.15rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
      }

      .l_index {
        width: 100%;
        display: block;
        position: relative;
        z-index: 520;
        font-size: 1.15rem;
        pointer-events: all;

        .link_box {
          display: block;
          padding: 0.2rem 0.5rem;
          border-radius: 0.2rem;
          -webkit-border-radius: 0.2rem;
          -moz-border-radius: 0.2rem;
          -ms-border-radius: 0.2rem;
          -o-border-radius: 0.2rem;

          &:hover {
            background-color: #ececec;
          }

          &.h2 {
            padding-left: 2.5rem;
          }
        }
      }
    }
  }
}
