@import "../../global/responsive.scss";
@import "../../global/variables.scss";

.main {
  padding-top: 0;
  min-height: calc(100% - 6rem);

  .title_box {
    background-image: linear-gradient(to bottom right, #e74e4e, #dd8431);
    margin: 0 auto;

    .title_area {
      width: min(55rem, 100%);
      margin: 0 auto;

      .page_title {
        font-size: 2rem;
        font-weight: bold;
        padding: 1.5rem 3rem;
        color: $c-base_title_text;
        margin: 0 auto;
      }
    }
  }

  .search_condition {
    position: sticky;
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 2rem;
    width: calc(100% - 4rem);
    bottom: 1rem;
    z-index: 1500;
    padding: 0.2rem 0.5rem;
    background-color: #b3f3e8;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1.05rem;
    filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);
    -webkit-filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;

    @include mqUp(sm) {
      width: 100%;
      border-radius: 0;
      margin-top: 0;
      margin-bottom: 0;
      bottom: 0;
      filter: none;
      -webkit-filter: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
  }

  .list_box {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 2rem 0;
    user-select: none;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    position: relative;

    @include mqUp(xl) {
      padding: 0;
    }

    @include mqUp(sm) {
      width: 100%;
      padding-top: 0;
    }

    .search_box {
      width: 100%;
      height: 0;
      padding: 1rem 1rem 2rem 1rem;
      background-color: $c-base_tile;
      margin-bottom: 3rem;
      position: sticky;
      top: -1rem;
      z-index: 1000;
      transition: all 0.2s;

      @include mqUp(sm) {
        margin-bottom: 2rem;
      }

      &.open {
        height: auto;
      }

      .circle {
        cursor: pointer;
        display: block;
        background-color: $c-search_box_sw_bg;
        width: 5rem;
        height: 3rem;
        position: absolute;
        left: calc((100% - 5rem) / 2);
        border-radius: 0.5rem 0.5rem 3rem 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 10000;
        user-select: none;
        -webkit-border-radius: 0.5rem 0.5rem 3rem 3rem;
        -moz-border-radius: 0.5rem 0.5rem 3rem 3rem;
        -ms-border-radius: 0.5rem 0.5rem 3rem 3rem;
        -o-border-radius: 0.5rem 0.5rem 3rem 3rem;
        svg {
          width: 1.6rem;
          font-size: 1.6rem;
        }

        &:hover,
        &:active {
          background-color: $c-search_box_sw_bg_hover;
        }
      }

      .years_list_box {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0rem;
        background-image: linear-gradient(
          to bottom right,
          $c-sort_year_bg_from,
          $c-sort_year_bg_to
        );
        z-index: 15000;
        padding: 1rem;
        justify-content: left;
        align-items: normal;
        display: none;
        flex-direction: column;
        user-select: none;

        @include mqUp(lg) {
          padding: 0;
          height: 3rem;
          width: 7rem;
          left: 1rem;
          top: initial;
          bottom: -5rem;
          border-radius: 0.25rem;
          padding: 0;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          background-color: #fafafa;
          border-style: solid;
          border-width: 0.11rem;
          border-color: $c-sort_year_shadow;
          filter: drop-shadow(0.1rem 0.1rem 0.2rem $c-sort_year_shadow);
          -webkit-filter: drop-shadow(0.1rem 0.1rem 0.2rem $c-sort_year_shadow);
        }

        & > p {
          font-size: 1.1rem;
          text-align: left;
          font-weight: bold;
          user-select: none;

          @include mqUp(lg) {
            display: none;
          }
        }

        .select_box {
          width: 6rem;
          height: 2rem;
          position: relative;
          pointer-events: all;

          @include mqUp(lg) {
            width: 5.5rem;
          }

          &::after {
            position: absolute;
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border-style: solid;
            border-width: 0 0 0.1rem 0.1rem;
            border-color: $c-search_type_dropdown;
            right: 0.75rem;
            top: 0.6rem;
            pointer-events: none;
            transform: rotateZ(-45deg);
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
          }

          &:hover::after,
          &:focus::after {
            border-color: $c-search_border_hover;
          }

          .year_select {
            display: block;
            border-style: solid;
            border-width: 0.1rem;
            border-color: $c-search_border;
            width: 100%;
            height: 100%;
            cursor: pointer;
            appearance: none;
            background-color: $c-search_bg;
            color: black;
            padding-left: 0.25rem;
            padding-right: 1.7rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            position: relative;

            &:hover {
              border-color: $c-search_border_hover;
            }

            &:active,
            &:focus {
              outline: none;
              border-color: $c-search_border_hover;
            }
          }
        }
      }

      .search_area {
        width: min(55rem, 100%);
        margin: 0 auto;
        display: none;
        flex-wrap: wrap;
        row-gap: 1rem;
        justify-content: center;
        user-select: none;

        .search_box_frame {
          width: auto;
          position: relative;
          display: flex;

          @include mqUp(sm) {
            width: 50%;
          }

          .search_input {
            background-color: $c-search_bg;
            height: 2.5rem;
            width: 12.5rem;
            position: relative;
            appearance: none;
            -webkit-appearance: none;
            border-style: solid;
            border-width: 0.1rem;
            border-color: $c-search_border transparent $c-search_border
              $c-search_border;
            border-radius: 2rem 0 0 2rem;
            padding: 0 2.5rem 0 1rem;
            transition: all 0.1s;
            opacity: 1;
            -webkit-border-radius: 2rem 0 0 2rem;
            -moz-border-radius: 2rem 0 0 2rem;
            -ms-border-radius: 2rem 0 0 2rem;
            -o-border-radius: 2rem 0 0 2rem;
            -webkit-transition: all 0.1s;
            -moz-transition: all 0.1s;
            -ms-transition: all 0.1s;
            -o-transition: all 0.1s;

            @include mqUp(sm) {
              width: 100%;
            }

            &:hover {
              border-color: $c-search_border_hover transparent
                $c-search_border_hover $c-search_border_hover;
            }

            &:active,
            &:focus {
              outline: none;
              border-color: $c-search_border_hover transparent
                $c-search_border_hover $c-search_border_hover;
            }
          }

          .search_clear_button {
            position: absolute;
            appearance: none;
            -webkit-appearance: none;
            right: 0;
            width: 2.5rem;
            height: 2.5rem;
            background-color: transparent;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;

            @include mqUp(sm) {
              width: 20%;
            }

            &:hover,
            &:focus {
              outline: none;
            }

            svg {
              color: $c-search_clear;
            }

            &:hover svg,
            &:focus svg {
              color: $c-search_clear_hover;
              width: 1rem;
              height: 1rem;
              font-size: 1rem;
            }
          }
        }

        .search_button {
          background-color: $c-search_button;
          border-style: solid;
          border-color: $c-search_button;
          border-width: 0.1rem;
          margin-right: 1rem;
          display: block;
          cursor: pointer;
          width: 3.5rem;
          height: 2.5rem;
          justify-content: center;
          align-items: center;
          text-align: center;
          display: flex;
          flex-direction: column;
          border-radius: 0 2rem 2rem 0;
          transition: all 0.1s;
          -webkit-border-radius: 0 2rem 2rem 0;
          -moz-border-radius: 0 2rem 2rem 0;
          -ms-border-radius: 0 2rem 2rem 0;
          -o-border-radius: 0 2rem 2rem 0;

          @include mqUp(sm) {
            width: 15%;
            margin-right: 2.5%;
          }

          &:hover,
          &:focus {
            background-color: $c-search_button_hover;
            border-color: $c-search_button_hover;
            outline: none;
          }

          .search_magnify {
            position: relative;
            left: -0.1rem;
            top: 0.1rem;
            color: $c-search_magnify;
            width: 1.4rem;
            font-size: 1.4rem;
            padding: 0;
            margin: 0;
          }
        }

        .select_box {
          width: 6rem;
          height: 2.5rem;
          position: relative;

          @include mqUp(sm) {
            width: 25%;
          }

          &::after {
            position: absolute;
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border-style: solid;
            border-width: 0 0 0.1rem 0.1rem;
            border-color: $c-search_type_dropdown;
            right: 0.75rem;
            top: 0.9rem;
            pointer-events: none;
            transform: rotateZ(-45deg);
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
          }

          &:hover::after,
          &:focus::after {
            border-color: $c-search_border_hover;
          }

          .search_select {
            border-style: solid;
            border-width: 0.1rem;
            border-color: $c-search_border;
            width: 100%;
            height: 100%;
            cursor: pointer;
            appearance: none;
            background-color: $c-search_bg;
            color: black;
            padding-left: 0.25rem;
            padding-right: 1.7rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            position: relative;
            &:hover {
              border-color: $c-search_border_hover;
            }

            &:active,
            &:focus {
              outline: none;
              border-color: $c-search_border_hover;
            }

            &::-ms-expand {
              display: none;
            }
          }
        }
      }

      &.opening {
        height: auto;
        top: 0;

        @include mqUp(sm) {
          margin-bottom: 2rem;
        }

        .search_area {
          display: flex;
        }

        .years_list_box {
          display: flex;
        }

        .circle {
          bottom: -1.5rem;
          transform: rotateZ(180deg);
          border-radius: 0.5rem;
          -webkit-transform: rotateZ(180deg);
          -moz-transform: rotateZ(180deg);
          -ms-transform: rotateZ(180deg);
          -o-transform: rotateZ(180deg);
          -webkit-border-radius: 0.5rem;
          -moz-border-radius: 0.5rem;
          -ms-border-radius: 0.5rem;
          -o-border-radius: 0.5rem;
        }
      }
    }

    .result_box {
      display: block;
      flex-wrap: wrap;
      position: relative;
      width: min(55rem, 100%);
      margin: 0 auto 2rem auto;

      @include mqUp(xl) {
        justify-content: center;
        flex-direction: row;
      }

      @include mqUp(sm) {
        width: 100%;
        margin-bottom: 0;
      }

      &.opening {
        margin-top: 4rem;
        @include mqUp(sm) {
          margin-top: 6rem;
        }
      }

      &:not(.opening) {
        @include mqUp(sm) {
          margin-top: 3rem;
        }
      }

      .news_link {
        pointer-events: none;
        width: calc(100% - 2rem);
        height: 8rem;
        display: inline-block;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        @include mqUp(sm) {
          width: 100%;
          height: auto;
        }
        .news {
          pointer-events: auto;
          width: 100%;
          height: 8rem;
          background-color: #fdfdfd;
          margin: 1rem;
          position: relative;
          border-radius: 0.25rem;
          overflow: hidden;
          display: flex;
          filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);
          transition: all 0.15s;
          justify-content: initial;
          align-items: initial;
          text-align: initial;
          flex-direction: initial;
          -webkit-border-radius: 0.25rem;
          -moz-border-radius: 0.25rem;
          -ms-border-radius: 0.25rem;
          -o-border-radius: 0.25rem;
          -webkit-filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);
          -webkit-transition: all 0.15s;
          -moz-transition: all 0.15s;
          -ms-transition: all 0.15s;
          -o-transition: all 0.15s;

          @include mqUp(sm) {
            margin: 0;
            width: 100%;
            height: auto;
            display: block;
            filter: none;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            -webkit-filter: none;
          }

          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 0.25rem;
            top: 0;
            left: 0;
            background-color: #ffffff4d;
            opacity: 0;
            transition: all 0.15s;
            -webkit-transition: all 0.15s;
            -moz-transition: all 0.15s;
            -ms-transition: all 0.15s;
            -o-transition: all 0.15s;
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            -ms-border-radius: 0.25rem;
            -o-border-radius: 0.25rem;

            @include mqUp(sm) {
              width: 100%;
              height: 100%;
            }
          }

          &.year {
            margin-top: 2rem;
            height: 4rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            background-image: linear-gradient(
              to bottom right,
              #e9fffc,
              #d3f1f7
            );

            &::after {
              display: none;
            }

            @include mqUp(sm) {
              margin: 0 auto;
            }

            &:hover {
              filter: drop-shadow(0.1rem 0.1rem 0.2rem #e4e4e4);
              -webkit-filter: drop-shadow(
                0.1rem 0.1rem 0.2rem #e4e4e4
              );

              @include mqUp(sm) {
                filter: none;
                margin: 0 auto;
              }
            }

            & > p {
              font-size: 1.5rem;
              font-weight: bold;
            }
          }

          &:hover {
            filter: drop-shadow(0.1rem 0.1rem 0.5rem #e4e4e4);
            -webkit-filter: drop-shadow(
              0.1rem 0.1rem 0.5rem #e4e4e4
            );
            @include mqUp(sm) {
              filter: none;
              -webkit-filter: none;
            }
          }

          &:hover::after {
            opacity: 1;

            @include mqUp(md) {
              opacity: 0;
            }
          }

          .thumbnail_box {
            width: 14.2rem;
            height: 8rem;
            background-image: linear-gradient(
              to bottom right,
              #fffbf6,
              #fdfdfd
            );
            position: relative;
            overflow: hidden;
            user-select: none;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            @include mqUp(sm) {
              margin: 0;
              width: 100%;
              height: calc(100vw * 9 / 16 - 1rem);
              filter: none;
              -webkit-filter: none;
            }

            .thumbnail {
              height: 100%;

              @include mqUp(sm) {
                height: auto;
                width: 100%;
              }
            }
          }

          .text_box {
            position: relative;
            width: calc(100% - 14.2rem);

            @include mqUp(sm) {
              width: 100%;
            }

            .title {
              margin: 1rem 1rem 0.5rem 1rem;
              font-size: 1.05rem;
              font-weight: bold;
              line-height: 1.15;
            }

            .date {
              display: block;
              position: absolute;
              bottom: 0.7rem;
              right: 0.7rem;
              font-weight: bold;
              line-height: 1.15;
              text-align: right;

              @include mqUp(sm) {
                display: block;
                position: static;
                text-align: left;
                margin: 0rem 0.4rem 1.2rem 1rem;
                font-size: 1.05rem;
                font-weight: bold;
                line-height: 1.15;
              }
            }
          }
        }
      }

      .notfound {
        user-select: none;
        width: 100%;
        height: auto;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;

        .notfound_text {
          margin-top: 1.1rem;
          font-size: 1.2rem;
          line-height: 1.8;
          margin-bottom: 1rem;
        }

        .notfound_img_box {
          position: relative;
          width: 5rem;
          height: 5rem;
          pointer-events: none;
        }
      }
    }
  }
}
