@import '../../global/responsive.scss';
@import '../../global/variables.scss';

.main {
  min-height: calc(100% - 6rem);
  padding-top: 0;
  position: relative;

  .project {
    width: 100%;
    padding-top: 2rem;
    position: relative;
    user-select: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;

    @include mqUp(md) {
      padding-top: 0;
    }

    .project_card {
      margin-top: 0;
      margin-bottom: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      width: min(55rem, 100%);
      padding: 2rem;
      color: #1e1e1e;
      background-image: linear-gradient(to bottom right, #f8c8ef, #faf3b6);
      border-radius: 1rem;
      position: relative;
      filter: drop-shadow(0.5rem 0.3rem 0.5rem rgb(230, 230, 230));
      -webkit-filter: drop-shadow(0.5rem 0.3rem 0.5rem rgb(230, 230, 230));
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;

      @include mqUp(md) {
        border-radius: 0;
        margin-top: 0rem;
        filter: drop-shadow(0rem 0.2rem 0.2rem #e6e6e6);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        -webkit-filter: drop-shadow(0rem 0.2rem 0.2rem #e6e6e6);
      }

      .title {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.65rem;
        margin-bottom: 1rem;
      }

      .date {
        font-size: 1rem;
      }
    }

    .main_script {
      width: min(55rem, 100%);
      margin: 0 auto;
      padding: 2rem 1.5rem;
      font-size: 1.05rem;

      @include mqUp(md) {
        padding: 2rem 0 0 0;
      }

      a {
        color: $c-base_link_text;
        text-decoration: underline;
        position: relative;
      }

      a:hover {
        text-decoration: none;
      }

      .section_name {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.8;
        top: 0;
        position: sticky;
        z-index: 1000;
        padding-left: 1rem;
        border-radius: 0 0 0.5rem 0.5rem;
        background-image: linear-gradient(to right, $c-base_section_bg_from, $c-base_section_bg_to);
        -webkit-border-radius: 0 0 0.5rem 0.5rem;
        -moz-border-radius: 0 0 0.5rem 0.5rem;
        -ms-border-radius: 0 0 0.5rem 0.5rem;
        -o-border-radius: 0 0 0.5rem 0.5rem;

        &::before {
          display: inline-block;
          width: 0.5rem;
          height: 2rem;
          position: absolute;
          bottom: 0.25rem;
          left: 0.15rem;
          content: '';
          background-image: linear-gradient(to bottom right, $c-base_section_bar_from, $c-base_section_bar_to);
        }
      }

      .thumbnail_box {
        padding: 1rem;
        width: 90%;
        margin: 0 auto;
        background-color: $c-detail_thumbnail_box;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;

        @include mqUp(md) {
          padding: 0;
        }

        a::after {
          display: none;
        }

        img {
          width: 100%;
        }
      }

      .article {
        padding: 0.4rem 0.8rem 1rem 0.8rem;
        line-height: 1.65;

        ul {
          margin-top: 0.3rem;
          margin-left: 2rem;
          margin-bottom: 0.3rem;

          li {
            list-style: disc;
          }
        }
        ol {
          margin-top: 0.3rem;
          margin-left: 2rem;
          margin-bottom: 0.3rem;

          li {
            list-style: decimal;
          }
        }

        iframe {
          display: block;
          margin: 0 auto;
        }
      }

      .images_box {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;

        a {
          pointer-events: none;
          position: relative;

          .image {
            pointer-events: auto;
            overflow: hidden;
            min-width: 10rem;
            max-width: 20rem;
            max-height: 100vw;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 0.75rem;
            background-color: $c-detail_image_box;

            img {
              width: 100%;
            }
          }
        }

        a::after {
          display: none;
        }
      }

      .links {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        li {
          margin-left: 3rem;
          list-style: disc;
        }
      }
    }
  }
}
