@import "../../global/responsive.scss";

.main {
  // overflow: hidden;
  padding-top: 0;
  min-height: calc(100% - 6rem);

  .title_box {
    background-image: linear-gradient(
      to bottom right,
      rgb(211, 97, 52),
      rgb(212, 209, 19)
    );

    .title_area {
      width: min(55rem, 100%);
      margin: 0 auto;

      .page_title {
        font-size: 2rem;
        font-weight: bold;
        padding: 1.5rem 3rem;
        color: rgb(253, 253, 253);
        margin: 0 auto;
      }
    }
  }

  .list_box {
    width: min(55rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    user-select: text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;

    @include mqUp(sm) {
      width: 100%;
      padding: 0;
    }

    .result_box {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      @include mqUp(sm) {
        margin-top: 0;
        margin-bottom: 0;
      }

      h2 {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        background-image: linear-gradient(
          to bottom right,
          rgb(220, 241, 255),
          rgb(234, 232, 255)
        );
        padding: 0.2rem 1rem;
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;

        @include mqUp(sm) {
          border-radius: 0;
          margin-bottom: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
        }
      }

      .member {
        background-image: linear-gradient(
          to right,
          rgb(253, 253, 253),
          rgb(248, 254, 255)
        );
        filter: drop-shadow(0.1rem 0.1rem 0.2rem rgb(228, 228, 228));
        margin-bottom: 1rem;
        border-radius: 0.3rem;
        padding: 0.2rem 0.8rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: min(40rem, 100%);
        margin-left: auto;
        margin-right: auto;
        -webkit-filter: drop-shadow(0.1rem 0.1rem 0.2rem rgb(228, 228, 228));
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;

        @include mqUp(sm) {
          margin: 0;
          filter: none;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
        }

        .left {
          text-align: left;
          display: block;
          width: calc(50% - 0.8rem);
        }

        .right {
          text-align: right;
          display: block;
          width: calc(50% - 0.8rem);
        }

        .name {
          font-size: 1.2rem;
        }

        .english_name {
          font-size: 0.9rem;
        }

        .belonging {
          text-align: right;
        }

        .classification {
          text-align: right;
        }
      }
    }
  }
}
