@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-scheme: light;
  line-height: 1.5;
}

html {
  height: 100%;
  background-color: #fafafa;
}

body {
  user-select: none;
  height: 100%;
  word-wrap: break-word;
  line-break: strict;
  overflow: hidden;
}

header {
  height: 4rem;
  width: 100%;
}

h1 {
  margin: 0;
}

main {
  height: calc(100% - 4rem);
  margin: 0 0 0 0;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

div.main {
  padding-top: 0;
  min-height: calc(100% - 6rem);
  position: relative;
}

footer {
  display: none;
}

::selection {
  background-color: rgb(13, 207, 181);
  color: white;
}

body main * {
  scrollbar-width: thin;
  scrollbar-color: #888 #eeeeee;
}

body main *:hover {
  scrollbar-color: #777 #eeeeee;
}

body main *::-webkit-scrollbar {
  width: .2rem;
}

body main *::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

body main *::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2rem;
}


body main *::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  border-radius: 2rem;
}

.unique-type0 span{
  background-color: rgb(240, 57, 142) !important;
}

.unique-type1 span{
  background-color: rgb(203, 57, 240) !important;
}

.unique-type2 span{
  background-color: rgb(75, 64, 219) !important;
}

.unique-type3 span{
  background-color: rgb(15, 193, 199) !important;
}

.unique-type4 span{
  background-color: rgb(70, 170, 91) !important;
}

.unique-type5 span{
  background-color: rgb(112, 194, 46) !important;
}

.unique-type6 span{
  background-color: rgb(156, 190, 0) !important;
}

.unique-type7 span{
  background-color: rgb(223, 90, 37) !important;
}

.unique-type8 span{
  background-color: rgb(240, 48, 48) !important;
}


.loading {
  width: min(30vw, 30vh);
  height: min(30vw, 30vh);
  background-color: rgb(253, 253, 253);
  margin: 2rem auto 0 auto;
  position: relative;
  border-radius: min(.7vw, .7vh);
  -webkit-border-radius: min(.7vw, .7vh);
  -moz-border-radius: min(.7vw, .7vh);
  -ms-border-radius: min(.7vw, .7vh);
  -o-border-radius: min(.7vw, .7vh);
}

.loading::before {
  content: "";
  display: block;
  position: absolute;
  top: min(11.5vw, 11.5vh);
  left: min(5vw, 5vh);
  width: min(20vw, 20vh);
  height: min(5.5vw, 5.5vh);
  background-color: rgba(253, 253, 253, 0.75);
  border-radius: min(.7vw, .7vh);
  z-index: 1000;
  -webkit-border-radius: min(.7vw, .7vh);
  -moz-border-radius: min(.7vw, .7vh);
  -ms-border-radius: min(.7vw, .7vh);
  -o-border-radius: min(.7vw, .7vh);
}

.loading::after {
  content: "Loading...";
  color: rgb(75, 75, 75);
  font-weight: bold;
  font-size: min(4vw, 4vh);
  position: absolute;
  top: min(11vw, 11vh);
  left: min(6vw, 6vh);
  z-index: 1100;
}

.loading>span {
  width: min(3vw, 3vh);
  height: min(3vw, 3vh);
  display: block;
  position: absolute;
  border-radius: min(.7vw, .7vh);
  animation-name: load_1;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  transform: rotateZ(0deg);
  -webkit-border-radius: min(.7vw, .7vh);
  -moz-border-radius: min(.7vw, .7vh);
  -ms-border-radius: min(.7vw, .7vh);
  -o-border-radius: min(.7vw, .7vh);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
}

.loading>.load_1 {
  top: 0;
  left: 0;
  background-color: rgb(90, 74, 230);
  animation-duration: 4s;
  animation-delay: 0s;
}

.loading>.load_2 {
  top: min(27vw, 27vh);
  left: min(27vw, 27vh);
  background-color: rgb(230, 97, 74);
  animation-duration: 4s;
  animation-delay: -1.46s;
  animation-direction: reverse;

}

@keyframes load_1 {
  0% {
    top: 0;
    left: 0;
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }

  12.5% {
    top: min(27vw, 27vh);
    left: 0;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
  }

  25% {
    top: min(27vw, 27vh);
    left: 0;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
  }

  37.5% {
    top: 0;
    left: min(27vw, 27vh);
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
  }

  50% {
    top: 0;
    left: min(27vw, 27vh);
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
  }

  62.5% {
    top: min(27vw, 27vh);
    left: min(27vw, 27vh);
    transform: rotateZ(270deg);
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
  }

  75% {
    top: min(27vw, 27vh);
    left: min(27vw, 27vh);
    transform: rotateZ(270deg);
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
  }

  87.5% {
    top: 0vw;
    left: 0vw;
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }

  100% {
    top: 0vw;
    left: 0vw;
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

.notfound {
  user-select: none;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.notfound .notfound_text {
  margin-top: 1.1rem;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.notfound .notfound_img_box {
  position: relative;
  width: 5rem;
  height: 5rem;
  pointer-events: none;
}