@import '../global/responsive.scss';
@import '../global/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

.main {
  width: 100%;
  min-height: calc(100% - 6rem);

  .egg_canvas {
    display: block;
    background-color: #eee;
    width: 100vw;
    height: calc(100vh - 4rem);
    position: fixed;
    top: 4rem;
    left: 0;
    z-index: 5000;
    opacity: 1;
    transition: all ease 0.35s;
    transform: scale(100%);
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -ms-transform: scale(100%);
    -o-transform: scale(100%);
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    -ms-transition: all ease 0.35s;
    -o-transition: all ease 0.35s;

    & > div {
      display: block;
    }

    &:not(.open) {
      transform: scale(0%);
      top: calc((100vh - 4rem) / 2);
      left: 50vw;
      -webkit-transform: scale(0%);
      -moz-transform: scale(0%);
      -ms-transform: scale(0%);
      -o-transform: scale(0%);
      & > div {
        display: none;
      }
    }
  }

  .language_switching_box {
    position: sticky;
    bottom: 2rem;
    width: 100%;
    height: 2.5rem;
    left: 0;
    z-index: 1150;
    display: flex;
    user-select: none;

    button {
      font-size: 1.15rem;
      font-weight: bold;
      width: 5.5rem;
      height: 100%;
      appearance: none;
      background-image: linear-gradient(to bottom right, $c-lang_sw_bg_from, $c-lang_sw_bg_to);
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      border-style: solid;
      border-radius: 1rem;
      border-width: 0.1rem;
      border-color: $c-lang_sw_border;
      transition: all 0.2s;
      filter: drop-shadow(0rem 0.2rem 0.2rem $c-lang_sw_shadow);
      -webkit-filter: drop-shadow(0rem 0.2rem 0.2rem $c-lang_sw_shadow);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;

      &:hover {
        background-image: linear-gradient(to bottom left, $c-lang_sw_bg_from, $c-lang_sw_bg_to);
      }
    }
  }

  .img_box {
    background-color: #e6e6e6;
    width: 100%;
    height: 30rem;
    max-height: calc(100vh - 4rem);
    position: relative;
    overflow: hidden;

    .top_images {
      width: 100%;
      height: 100%;
      position: relative;
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;

      img {
        pointer-events: none;
      }

      .top_img_box {
        width: calc(30rem * 3.75);
        height: 100%;
        position: relative;
        z-index: 1400;
      }

      .back_img_box {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1300;
        opacity: 0.7;
        filter: blur(0.3rem);
        transform: scale(1.25);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        -webkit-filter: blur(0.3rem);
      }
    }

    .animation_box {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #232323;
      animation-duration: 0.4s;
      animation-delay: 5.8s;
      animation-fill-mode: forwards;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-name: box_fade_out;
      pointer-events: fill;
      z-index: 1500;

      & > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        p,
        img {
          font-family: 'Yuji Syuku';
          opacity: 0;
          font-size: 15rem;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
          animation-direction: normal;
          animation-iteration-count: 1;
          color: white;
          font-weight: bold;
          pointer-events: none;
        }

        p {
          white-space: nowrap;
          animation-name: text_fade_in_out;
        }

        img {
          animation-name: img_fade_in_out;
        }

        &:nth-child(1) > p {
          animation-delay: 0.3s;
        }
        &:nth-child(2) > p {
          animation-delay: 0.5s;
        }
        &:nth-child(3) > p {
          animation-delay: 0.8s;
        }
        &:nth-child(4) > p {
          animation-delay: 1.1s;
        }
        &:nth-child(5) > p {
          animation-delay: 1.4s;
        }
        &:nth-child(6) > p {
          animation-delay: 1.7s;
        }
        &:nth-child(7) > p {
          animation-delay: 2s;
        }
        &:nth-child(8) > p {
          animation-delay: 2.5s;
          animation-duration: 0.6s;
        }
        &:nth-child(9) > img {
          animation-delay: 3s;
          animation-duration: 1.5s;
          pointer-events: none;
          cursor: pointer;
          -webkit-user-drag: none;
          transform: scale(100%);
          transition: transform ease-out 0.15s;
          -webkit-transition: transform ease-out 0.15s;
          -moz-transition: transform ease-out 0.15s;
          -ms-transition: transform ease-out 0.15s;
          -o-transition: transform ease-out 0.15s;
          -webkit-transform: scale(100%);
          -moz-transform: scale(100%);
          -ms-transform: scale(100%);
          -o-transform: scale(100%);
        }

        &:nth-child(9) > img:active {
          transform: scale(90%);
          -webkit-transform: scale(90%);
          -moz-transform: scale(90%);
          -ms-transform: scale(90%);
          -o-transform: scale(90%);
        }

        @keyframes box_fade_out {
          0% {
            opacity: 1;
            display: block;
            pointer-events: fill;
            z-index: 1500;
          }

          99% {
            pointer-events: fill;
            z-index: 1500;
          }

          100% {
            z-index: 0;
            opacity: 0;
            display: none;
            pointer-events: none;
          }
        }

        @keyframes text_fade_in_out {
          0% {
            opacity: 0;
            font-size: 15rem;
          }

          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
            font-size: 5rem;
          }
        }
        @keyframes img_fade_in_out {
          0% {
            pointer-events: fill;
            opacity: 0;
            width: 20rem;
          }

          50% {
            opacity: 1;
          }

          100% {
            pointer-events: fill;
            opacity: 1;
            width: 15rem;
          }
        }
      }
    }
  }

  .section {
    width: min(55rem, 100%);
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;

    a {
      color: $c-base_link_text;
      text-decoration: none;
      font-weight: bold;
      position: relative;
    }

    a::after {
      position: absolute;
      bottom: 0em;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: $c-base_link_text;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      -webkit-transform: scale(0, 1);
      -moz-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      -o-transform: scale(0, 1);
    }

    a:hover::after {
      transform: scale(1, 1);
    }

    .section_name {
      font-size: 2.3rem;
      height: 3.5rem;
      text-align: center;
      font-weight: bold;
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1000;
      width: 100%;
      border-style: solid;
      border-width: 0 0 0.1rem 0;
      border-color: #e96fd9;

      @include mqUp(sm) {
        font-size: 8vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
    }

    .string_box {
      padding: 1rem;
      background-color: #f7f7f7;
    }

    p {
      font-size: 1.1rem;
    }

    & > p {
      line-height: 1.7;
      margin-bottom: 1.3rem;
    }

    & > ul {
      margin-top: 1.1rem;
      margin-bottom: 1.1rem;

      li {
        margin-left: 1.5rem;
        list-style: disc;
        line-height: 1.7;
        margin-bottom: 0.3rem;
      }
    }

    h3 {
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0.3rem 0.5rem 0.2rem 1.2rem;
      position: sticky;
      z-index: 950;
      top: 3.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      background-image: linear-gradient(to right, $c-base_section_bg_from, $c-base_section_bg_to);

      &::before {
        display: inline-block;
        width: 0.5rem;
        height: 100%;
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        content: '';
        background-image: linear-gradient(to bottom right, $c-base_section_bar_from, $c-base_section_bar_to);
      }
    }

    .quote {
      border-style: solid;
      border-width: 0 0 0 0.25rem;
      border-color: #dddddd;
      padding-left: 0.5rem;
      margin-left: 1rem;
    }

    .circles_box {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: 50% 1fr;
      width: 100%;
      height: 100%;
      position: relative;

      .keyword {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 0;
        font-weight: bold;
        position: relative;
        z-index: 150;
      }

      span {
        display: block;
        position: absolute;
        width: min(25vw, 10rem);
        height: min(25vw, 10rem);
        top: calc(50% - min(25vw, 10rem) / 2);
        left: calc(50% - min(25vw, 10rem) / 2);
        background-color: white;
        z-index: 100;
        border-radius: min(25vw, 10rem);
        transform: none;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-border-radius: min(25vw, 10rem);
        -moz-border-radius: min(25vw, 10rem);
        -ms-border-radius: min(25vw, 10rem);
        -o-border-radius: min(25vw, 10rem);
      }

      .circle:nth-child(5) {
        display: block;
        background-color: #ffc56f80;
        transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        -webkit-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        -moz-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        -ms-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        -o-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        &.active {
          transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
          -webkit-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
          -moz-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
          -ms-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
          -o-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        }
      }
      .circle:nth-child(6) {
        display: block;
        background-color: #6effff80;
        transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        -webkit-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        -moz-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        -ms-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        -o-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        &.active {
          transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
          -webkit-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
          -moz-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
          -ms-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
          -o-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        }
      }
      .circle:nth-child(7) {
        display: block;
        background-color: #69ff9680;
        transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        -webkit-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        -moz-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        -ms-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        -o-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));

        &.active {
          transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
          -webkit-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
          -moz-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
          -ms-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
          -o-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(-1 * min(7.5vw, 3rem)));
        }
      }
      .circle:nth-child(8) {
        display: block;
        background-color: #e47aff80;
        transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        -webkit-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        -moz-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        -ms-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        -o-transform: translateX(calc(1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));

        &.active {
          transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
          -webkit-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
          -moz-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
          -ms-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
          -o-transform: translateX(calc(-1 * min(7.5vw, 3rem))) translateY(calc(1 * min(7.5vw, 3rem)));
        }
      }
    }
  }
}
